#parent{
  position: relative;
  /* margin:20px;*/
  justify-content: center; 
}
.heropat{
  margin: 10px;
  width: 70%;
  height: 100%;
  top :0;
}
.herosh{
  margin: 50px;
  margin-left: 0px;
  margin-right: 20px;
  width: 90%;
  height: 100%;
 position: absolute;
  top :10px;
  left:0px;
  right:20px;
}
.hero{
  border-radius: 10px;
  margin: 20px;
  margin-left: 0px;
  margin-right: 20px;
  width: 77%;
  height: 80%;
  position: absolute;
  top :40px;
  left:10px;
}